@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:wght@700&display=swap');
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.navebar{
    display: flex;
    /*flex-flow: row wrap;*/
    height: 100px;
    align-items: center;
    border-bottom: 5px solid #9a0000;
    border-radius: 5%;
}

.logo{
    flex: 20%;
    margin-left: 10%;
    /*border: 1px solid black;*/
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: #102b7c;
    font-size: 20px;
    
}
.menu{
    flex: 70%;
    /*border: 1px solid black;*/
    text-align: right;
    padding: 20px;
    
}
.menu a{
    color: #102b7c;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}
.menu a:hover{
    border-top: 4px solid #1542c7;
}
#nos{
    background: #102b7c;
    padding: 10px 25px;
    color: white;
    border-radius: 10px;
    margin-right: 10%;
    margin-left: 5%;
}
#nos:hover{
    border:none;
    background: #1542c7;
   
}
main{
    height: 600px;
}
form{
    padding: 20px 10px;
    text-align: center;
}
.campo{
    background: #b8b5b5;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding: 20px 16px;
    font-weight: bold;
   
}
#enviar{
    border-radius: 10px;
    border: none;
    padding: 20px 20px;
    background: #102b7c;
    color: white;
}
#enviar:hover{
    background: #1542c7;
}
section{
    display: inline-block;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    background: white;
    text-align: center;
}
.servicos{
    display: inline-block;
    margin-top: 5%;
}
.servicos h2{
    font-size: 40px;
}
.card{
    display:inline-block;
    background: white;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid #4a3c9b;
    border-radius: 35% 10%;
    text-align: center;
    cursor: pointer;
    box-shadow: 5px 5px 11px #a3a1a1;
}
.card:hover{
    background: #1542c7;
    color: white;
    padding: 30px;
}
footer{
    margin-top: 100px;
    height: 150px;
    background: #102b7c;
    text-align: center;
    border-top: 5px solid #9a0000;
}
.logo-rodape{
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    font-size: 20px;
}